*{
    box-sizing: border-box;
}
body{
    background: rgb(6,71,82);
    background: linear-gradient(90deg, rgba(6,71,82,1) 0%, rgba(29,133,140,1) 35%, rgba(173,217,209,1) 100%);
    font-family: Nunito;
    overflow: hidden;
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
  
    .fade{
      opacity:0;
     -webkit-animation: fadeIn 3s ease-in-out;
     -moz-animation: fadeIn 3s ease-in-out;
     -o-animation: fadeIn 3s ease-in-out;
     animation: fadeIn 3s ease-in-out; 
     -webkit-animation-fill-mode:forwards;
     -moz-animation-fill-mode:forwards;
     -o-animation-fill-mode:forwards;
     animation-fill-mode:forwards;
    }
    div.container {
        justify-content: center;
    }

     .card{
        width: 20rem;
        height: 12rem;
        background-color: #fff;
        border: none;
        margin: 20px;
        border-radius: 5% !important;
      }
      
      .card a{
        color: black;
      }
      .card a:hover{
        text-decoration: underline;
      }
    #align{
          margin: 0;
          position: absolute;
          top: 85%;
          left: 95%;
          margin-right: -95%;
          transform: translate(-95%, -95%);
          margin-top: auto;
      }

      .conteudo{
        text-align: center;
        color:rgb(5, 131, 131);
      }

      .conteudo h1{
        font-weight: bold;
        font-size: 23px;
      }

      .conteudo p{
        font-size: 20px;
      }

      .body-conteudo{
        text-align: center;
        width:70%; color:#ffffff; 
       margin-left: 80px;
        text-align: justify;
      }

      .body-conteudo h1{
        margin-top: 30px;
        text-align: center;
      }
      
    
      
