*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
  }
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
  
    .fade{
      opacity:0;
     -webkit-animation: fadeIn 1s ease-in-out;
     -moz-animation: fadeIn 1s ease-in-out;
     -o-animation: fadeIn 1s ease-in-out;
     animation: fadeIn 1s ease-in-out; 
     -webkit-animation-fill-mode:forwards;
     -moz-animation-fill-mode:forwards;
     -o-animation-fill-mode:forwards;
     animation-fill-mode:forwards;
    }

body{
    background: rgb(6,71,82);
    background: linear-gradient(90deg, rgba(6,71,82,1) 0%, rgba(29,133,140,1) 35%, rgba(173,217,209,1) 100%);
    font-family: Nunito;
    overflow: hidden;
}
a{
    margin: 30px;
    padding: 10px;
    margin-left: 0px;
}

      .form{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50rem;
        padding: 5rem;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
      }
      
      .form-conteudo{
        display: flex;
        flex-direction: column;
        color: #fff;
        font-family: Nunito;
        font-size: 16px;
    }
    .form-conteudo input{
        border: none;
        border-bottom: 1px #DCDDD7 solid;
        background: transparent !important;
        color: white;
        box-shadow: 0 0 0 0 !important;
        outline: 0 !important;
    }

   .input-esquerda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .input-esquerda input{
        width: 30%;
    }
   #input-direita{
    margin-left: 70px;
   }
   .input-numero{
    width: 30%;
   }

   .btn-editar{
    background: rgb(6,71,82) !important;
    color: white !important;
    border: none;
    width: 20%;
    text-align: center;
    float: right;
    margin-left: auto;
}

.btn-editar:hover{
    background: rgb(147, 248, 255) !important;
    color: rgb(6,71,82) !important;
    transition-duration: 0.5s;
}
